---
title: Chris Kelly
---

<h1>Hello!</h1>

<p>I'm <a href="/biography.html">Chris</a>. I manage a team of Software Engineers at <a href="http://www.pardot.com/">Pardot</a>, run a <a href="http://ithought.org/">Web Hosting company for Atlanta small businesses</a>,  <a href="/bikes.html">ride bikes</a> and <a href="https://www.flickr.com/photos/ckdake/">take pictures</a>. My most recent blog post is: <%= link_to(sorted_articles[0][:title], sorted_articles[0].path, :title => sorted_articles[0][:title]) %></p>

<h2>Recent Photo Albums</h2>

<div class="small-center-big-left">
  <%= recent_flickr_sets_html(9) %>
</div>

<h2>Recent Videos</h2>

<div class="small-center-big-left">
  <%= recent_vimeo_videos_embed_html(3) %>
</div>
