<% render '/default/' do %>
  <div class='post'>
    <h1><%= item[:title] %></h1>
    <aside><p><%= tags_for(@item, none_text:'') %> <%= item[:created_at] %></aside>
    <article>
      <%= yield %>
    </article>
    <div id="article-navigation">
      <p class="prev"><%= previous_link %></p>
      <p class="next"><%= next_link %></p>
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'ckdakecom';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
<% end %>
